50.Service Layer/SK.WMS.Service.ServiceManager/Service References/ProgramService/ProgramService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25000/ProgramService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetProgramListResult" nillable="true" type="q1:ArrayOfProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pgmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetProgramSelectResult" nillable="true" type="q2:ArrayOfProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pgmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetProgramResult" nillable="true" type="q3:Program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramListWhereQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pgmType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pgmId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pgmPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramListWhereQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetProgramListWhereQueryResult" nillable="true" type="q4:ArrayOfProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reload">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="menu" nillable="true" type="q5:Program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="menu" nillable="true" type="q6:Program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="menu" nillable="true" type="q7:Program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>