50.Service Layer/SK.WMS.Service.ServiceManager/Service References/ProgramService/ProgramService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25000/ProgramService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfProgram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Program" nillable="true" type="tns:Program" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgram" nillable="true" type="tns:ArrayOfProgram" />
  <xs:complexType name="Program">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ButtonAuthority" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ModId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PgmAssembly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PgmClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PgmDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PgmId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PgmName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PgmPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PgmType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Program" nillable="true" type="tns:Program" />
</xs:schema>