50.Service Layer/SK.WMS.Service.ServiceManager/Service References/UserService/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25000/UserService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptNm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsLock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SysId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_BAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_DUTY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_POSITION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_SUBTEAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_TEAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNameEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_authId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_deptcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_deptnm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_endDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_isLock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_loginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_modId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_modeTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_password1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_regId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_regTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_startDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_sysId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_userId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_userNameEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_userType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_user_Ban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_user_Duty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_user_Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_user_Subteam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_user_Team" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="NEXCOREData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataSet" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="DataTable" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Hashtable" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Object" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="intCnt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NEXCOREData" nillable="true" type="tns:NEXCOREData" />
</xs:schema>