50.Service Layer/SK.WMS.Service.ServiceManager/Service References/AuthorityService/AuthorityService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25000/AuthorityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetAuthorityListResult" nillable="true" type="q1:ArrayOfAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityPgmList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="all" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityPgmListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetAuthorityPgmListResult" nillable="true" type="q2:ArrayOfAuthorityPgm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptnm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetAuthorityUserListResult" nillable="true" type="q3:ArrayOfAuthorityUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityPgm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityPgmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetAuthorityPgmResult" nillable="true" type="q4:ArrayOfAuthorityPgm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAuthorityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAuthorityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetUserAuthorityListResult" nillable="true" type="q5:ArrayOfUserAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityListByCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityListByConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetAuthorityListByConditionResult" nillable="true" type="q6:ArrayOfAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityButtonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pgmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityButtonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetAuthorityButtonListResult" nillable="true" type="q7:ArrayOfAuthorityButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserButtonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pgmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserButtonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetUserButtonListResult" nillable="true" type="q8:ArrayOfAuthorityButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetLogListResult" nillable="true" type="q9:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetAuthorityResult" nillable="true" type="q10:Authority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteChildAuth" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAuthorityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="authority" nillable="true" type="q11:Authority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyAuthorityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="data" nillable="true" type="q12:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserAuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthPgm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="data" nillable="true" type="q13:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthPgmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAuthPgmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="data" nillable="true" type="q14:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAuthUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="data" nillable="true" type="q15:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="data" nillable="true" type="q16:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="data" nillable="true" type="q17:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DupCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DupCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DupCheckResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetButtonAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pgmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetButtonAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetButtonAuthorityResult" nillable="true" type="q18:ArrayOfButtonAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetButton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetButtonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetButtonResult" nillable="true" type="q19:ManagedButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetButtonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pgmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetButtonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetButtonListResult" nillable="true" type="q20:ArrayOfManagedButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetButtonListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetButtonListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetButtonListAllResult" nillable="true" type="q21:ArrayOfManagedButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddButton">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="button" nillable="true" type="q22:ManagedButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddButtonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddButtonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateButton">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="button" nillable="true" type="q23:ManagedButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateButtonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateButtonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteButton">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="button" nillable="true" type="q24:ManagedButton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteButtonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteButtonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthButton">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="data" nillable="true" type="q25:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthButtonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAuthButtonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>