50.Service Layer/SK.WMS.Service.ServiceManager/Service References/CodeService/CodeService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25000/CodeService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Code">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfCode" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:Code" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pkId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Code" nillable="true" type="tns:Code" />
  <xs:complexType name="ArrayOfCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Code" nillable="true" type="tns:Code" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCode" nillable="true" type="tns:ArrayOfCode" />
  <xs:complexType name="NEXCOREData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataSet" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="DataTable" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Hashtable" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Object" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="intCnt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NEXCOREData" nillable="true" type="tns:NEXCOREData" />
</xs:schema>