50.Service Layer/SK.WMS.Service.ServiceManager/Service References/CodeService/CodeService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25000/CodeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" />
  <xs:import schemaLocation="http://localhost:25000/CodeService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetCodeResult" nillable="true" type="q1:Code" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentCodeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetCodesResult" nillable="true" type="q2:ArrayOfCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelpWindow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="data" nillable="true" type="q3:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelpWindowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetHelpWindowResult" nillable="true" type="q4:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelpProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="data" nillable="true" type="q5:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelpProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetHelpProductResult" nillable="true" type="q6:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodesByAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentCodeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="codeAttributes" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodesByAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="GetCodesByAttributeResult" nillable="true" type="q8:ArrayOfCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reload">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>