50.Service Layer/SK.WMS.Service.ServiceManager/Service References/FileService/FileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AppendChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveDirPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tempFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Offset" type="xs:long" />
        <xs:element minOccurs="0" name="BytesRead" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendChunkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Write">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Offset" type="xs:long" />
        <xs:element minOccurs="0" name="BytesRead" type="xs:int" />
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveDirPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tempFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Offset" type="xs:long" />
        <xs:element minOccurs="0" name="BufferSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadChunkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadChunkResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoteFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileViewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileSizeResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tempFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="srcDir" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isForce" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDirectoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="srcFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="srcFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>