50.Service Layer/SK.WMS.Service.ServiceManager/Service References/FrontService/FrontService65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="methodName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="paras" nillable="true" type="q1:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="InvokeServiceResult" nillable="true" type="q2:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeTransactionService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="methodName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="paras" nillable="true" type="q3:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeTransactionServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" minOccurs="0" name="InvokeTransactionServiceResult" nillable="true" type="q4:NEXCOREData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnloadApplicationDomainLibrary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnloadApplicationDomainLibraryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>