50.Service Layer/SK.WMS.Service.ServiceManager/Service References/FrontService/FrontService66.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildMenuList" nillable="true" type="tns:ArrayOfMenu" />
      <xs:element minOccurs="0" name="ColumnCount" type="xs:int" />
      <xs:element minOccurs="0" name="Depth" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="ICON" nillable="true" type="q1:Image" />
      <xs:element minOccurs="0" name="IconGeometry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuChina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuEnglish" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuKorea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentMenuId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PgmId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Use" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="NEXCOREData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataSet" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="DataTable" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Hashtable" nillable="true" type="q2:ArrayOfKeyValueOfanyTypeanyType" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Object" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="intCnt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NEXCOREData" nillable="true" type="tns:NEXCOREData" />
</xs:schema>