50.Service Layer/SK.WMS.Service.ServiceManager/Service References/FrontService/FrontService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FrontService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd4" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" />
      <xsd:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd5" />
      <xsd:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:25000/FrontService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFrontService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IFrontService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IFrontService_InvokeService_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeService" />
  </wsdl:message>
  <wsdl:message name="IFrontService_InvokeService_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvokeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IFrontService_InvokeTransactionService_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeTransactionService" />
  </wsdl:message>
  <wsdl:message name="IFrontService_InvokeTransactionService_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvokeTransactionServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IFrontService_UnloadApplicationDomainLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:UnloadApplicationDomainLibrary" />
  </wsdl:message>
  <wsdl:message name="IFrontService_UnloadApplicationDomainLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnloadApplicationDomainLibraryResponse" />
  </wsdl:message>
  <wsdl:portType name="IFrontService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IFrontService/DoWork" message="tns:IFrontService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFrontService/DoWorkResponse" message="tns:IFrontService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvokeService">
      <wsdl:input wsaw:Action="http://tempuri.org/IFrontService/InvokeService" message="tns:IFrontService_InvokeService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFrontService/InvokeServiceResponse" message="tns:IFrontService_InvokeService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvokeTransactionService">
      <wsdl:input wsaw:Action="http://tempuri.org/IFrontService/InvokeTransactionService" message="tns:IFrontService_InvokeTransactionService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFrontService/InvokeTransactionServiceResponse" message="tns:IFrontService_InvokeTransactionService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnloadApplicationDomainLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IFrontService/UnloadApplicationDomainLibrary" message="tns:IFrontService_UnloadApplicationDomainLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFrontService/UnloadApplicationDomainLibraryResponse" message="tns:IFrontService_UnloadApplicationDomainLibrary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFrontService" type="tns:IFrontService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IFrontService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeService">
      <soap:operation soapAction="http://tempuri.org/IFrontService/InvokeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeTransactionService">
      <soap:operation soapAction="http://tempuri.org/IFrontService/InvokeTransactionService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnloadApplicationDomainLibrary">
      <soap:operation soapAction="http://tempuri.org/IFrontService/UnloadApplicationDomainLibrary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FrontService">
    <wsdl:port name="BasicHttpBinding_IFrontService" binding="tns:BasicHttpBinding_IFrontService">
      <soap:address location="http://localhost:25000/FrontService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>