50.Service Layer/SK.WMS.Service.ServiceManager/Service References/MessageService/MessageService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageKO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageZH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RegId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>