50.Service Layer/SK.WMS.Service.ServiceManager/Service References/MessageService/MessageService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25000/MessageService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25000/MessageService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25000/MessageService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:25000/MessageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NEXCORE.Common.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMessageService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Contains_InputMessage">
    <wsdl:part name="parameters" element="tns:Contains" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Contains_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContainsResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessageList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageList" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessageList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageListResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessageObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageObject" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessageObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessageLocale_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageLocale" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessageLocale_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageLocaleResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageService_AddMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_UpdateMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageService_UpdateMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_DeleteMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageService_DeleteMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Reload_InputMessage">
    <wsdl:part name="parameters" element="tns:Reload" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Reload_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/DoWork" message="tns:IMessageService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/DoWorkResponse" message="tns:IMessageService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Contains">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/Contains" message="tns:IMessageService_Contains_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/ContainsResponse" message="tns:IMessageService_Contains_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetMessage" message="tns:IMessageService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetMessageResponse" message="tns:IMessageService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetMessageList" message="tns:IMessageService_GetMessageList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetMessageListResponse" message="tns:IMessageService_GetMessageList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetMessageObject" message="tns:IMessageService_GetMessageObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetMessageObjectResponse" message="tns:IMessageService_GetMessageObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageLocale">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetMessageLocale" message="tns:IMessageService_GetMessageLocale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetMessageLocaleResponse" message="tns:IMessageService_GetMessageLocale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/AddMessage" message="tns:IMessageService_AddMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/AddMessageResponse" message="tns:IMessageService_AddMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/UpdateMessage" message="tns:IMessageService_UpdateMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/UpdateMessageResponse" message="tns:IMessageService_UpdateMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/DeleteMessage" message="tns:IMessageService_DeleteMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/DeleteMessageResponse" message="tns:IMessageService_DeleteMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reload">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/Reload" message="tns:IMessageService_Reload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/ReloadResponse" message="tns:IMessageService_Reload_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessageService" type="tns:IMessageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMessageService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contains">
      <soap:operation soapAction="http://tempuri.org/IMessageService/Contains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageList">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetMessageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageObject">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetMessageObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageLocale">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetMessageLocale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <soap:operation soapAction="http://tempuri.org/IMessageService/AddMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessage">
      <soap:operation soapAction="http://tempuri.org/IMessageService/UpdateMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap:operation soapAction="http://tempuri.org/IMessageService/DeleteMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reload">
      <soap:operation soapAction="http://tempuri.org/IMessageService/Reload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageService">
    <wsdl:port name="BasicHttpBinding_IMessageService" binding="tns:BasicHttpBinding_IMessageService">
      <soap:address location="http://localhost:25000/MessageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>